@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400&family=Marvel:wght@700&display=swap');
.banner{
    background-color: #027d96;
    text-align: center;
}  

.titulo{
    background-color: #E57C23;
    color:white;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5pt;   
}

.textoIndentado {
    text-indent: 100px;
}

.subtitulo{
    background-color: #E8AA42;
    color:white;
    font-family: 'Cabin', sans-serif;
    font-weight: 400 italic;
    text-transform: uppercase;
    letter-spacing: 5pt;  
}

.sinStyle{
    list-style-type:none;
}

.prueba{
    margin:0;
    font-size: 20px;
}

.lista{
    font-family: 'Cabin', sans-serif;   
}

.piePagina{
    background-color: rgb(3, 86, 117);
    text-align: center;
    color: white;
    border: 5px solid rgb(3, 86, 117) ;
}

.foto {   
    width: 200px;
    border-radius: 10px; 
   
}

.sinlinea{
text-decoration: none;
font-size: 30px;
background-color: white;
border-radius: 5px;
color: #025464;
}

.icon{
    color: #E57C23;
}




    
